<div class="page-header">
  <div class="container">
    <div class="navLinks">
      <a [routerLink]="['/']">Лаб 1</a>
      <a [routerLink]="['/second']">Лаб 2</a>
    </div>
  </div>
</div>

<div id="content">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
