<h1>Поиск экстремума функции двух переменных с помощью
  генетических алгоритмов с представлением особей в форме
  вещественных чисел</h1>
<plotly-plot [data]="data" [layout]="layout"></plotly-plot>
<div>
  <form novalidate [formGroup]="myForm">

    <div class="form-group">
      <label>Generations count&nbsp;</label>
      <input type="number"
             class="form-control"
             formControlName="numberOfGenerations"
             required>
    </div>

    <div class="form-group">
      <label>Uniform rate&nbsp;</label>
      <input type="number"
             class="form-control"
             formControlName="uniformRate"
             required>
    </div>

    <div class="form-group">
      <label>Mutation rate&nbsp;</label>
      <input type="number"
             class="form-control"
             formControlName="mutationRate"
             required>
    </div>

    <div class="form-group">
      <label>Population size&nbsp;</label>
      <input type="number"
             class="form-control"
             formControlName="populationSize"
             required>
    </div>

    <div class="form-group">
      <label>Tournament size&nbsp;</label>
      <input type="number"
             class="form-control"
             formControlName="tournamentSize"
             required>
    </div>

    <div class="form-group">
      <label>Elitism&nbsp;</label>
      <input type="checkbox"
             class="form-control"
             formControlName="elitism"
             required>
    </div>
  </form>

  <button (click)="startGenetic()">Генерировать</button>
</div>
<div>Fittest x = {{xMax[0]}}</div>
<div>Fittest y = {{yMax[0]}}</div>
<div>Fittest z = {{zMax[0]}}</div>
